<title>用户管理</title>

<div class="layui-fluid">
  <div class="layui-row layui-col-space15">
    <div class="layui-col-md12">
      <div class="layui-card">
        <div class="layui-card-body">
          <div class="test-table-reload-btn" style="margin-bottom: 10px;">
            <div class="layui-inline">
              <input class="layui-input" id="keyWords" autocomplete="off" placeholder="请输入关键字查询">
            </div>
            <button class="layui-btn" data-type="reload"><i class="layui-icon layui-icon-search"></i>搜索</button>
            <button class="layui-btn" data-type="add"><i class="layui-icon layui-icon-add-1"></i>添加</button>
          </div>

          <table class="layui-hide" id="test-table-toolbar" lay-filter="test-table-toolbar"></table>
          <script type="text/html" id="is_enable_Tpl">
            {{#  if(d.is_enable === '启用'){ }}
            <span style="color:green;">已{{ d.is_enable }}</span>
            {{#  } else if(d.is_enable === '禁用') { }}
            <span style="color:red;">已{{ d.is_enable }}</span>
            {{#  } else { }}
            <span style="color:blue;">{{ d.is_enable }}</span>
            {{#  } }}
          </script>
          <script type="text/html" id="test-table-toolbar-barDemo">
              <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
              <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
          </script>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  layui.use('sysUser', layui.factory('console'));
</script>