<title>用户管理</title>

<div class="layui-fluid">
  <div class="layui-row layui-col-space15">
    <div class="layui-col-md12">
      <div class="layui-card">
        <div class="layui-card-body">
          <div class="test-table-reload-btn" style="margin-bottom: 10px;">
            <div class="layui-inline">
              <input class="layui-input" id="keyWords" autocomplete="off" placeholder="请输入关键字查询">
            </div>
            <button class="layui-btn" data-type="reload"><i class="layui-icon layui-icon-search"></i>搜索</button>
            <button class="layui-btn" data-type="add"><i class="layui-icon layui-icon-add-1"></i>添加</button>
          </div>

          <table class="layui-hide" id="test-table-toolbar" lay-filter="test-table-toolbar"></table>
          <script type="text/html" id="test-table-toolbar-barDemo">
              <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
              <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
            </script>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  layui.use(['admin', 'table', 'jquery', 'form', 'common'], function () {
    var admin = layui.admin,
      view = layui.view,
      form = layui.form,
      com = layui.common,
      table = layui.table;

    var queryParam = { keyWords: "", field: "id", order: "desc" };

    var $ = layui.$, active = {
      reload: function (initSort) {
        //执行重载
        table.reload('test-table-toolbar', {
          page: {
            curr: 1 //重新从第 1 页开始
          },
          initSort: initSort,
          where: queryParam
        });
      },
      add: function () {
        com.layerOpen("LAY-popup-user-add", "添加用户", true, 680, 560, function (layero, index) {
          view("LAY-popup-user-add").render('sys/user/form').done(function () {
            form.render(null, 'component-form-element');
            //监听提交
            form.on('submit(LAY-user-front-submit)', function (data) {
              var field = data.field; //获取提交的字段
              com.ajax(apiUri + '/api/SysUser/Insert', 'post', true, field, function (res) {
                if (res.success === true) {
                  layer.msg('添加成功！', {
                    icon: 1,
                    time: 2000 //2秒关闭（如果不配置，默认是3秒）
                  }, function () {
                    active.reload();//重载表格
                    layer.close(index); //执行关闭 
                  });
                } else {
                  layer.msg('添加失败！', {
                    icon: 1,
                    time: 2000 //2秒关闭（如果不配置，默认是3秒）
                  });
                }
              });//ajax end
            });//form end
          });//view end
        }, function (layero, index) {
          $("#LAY-user-front-submit").click();
        });
      }
    };
    //搜索
    $('.test-table-reload-btn .layui-btn').on('click', function () {
      queryParam.keyWords = $("#keyWords").val();
      var type = $(this).data('type');
      debugger;
      active[type] ? active[type].call(this) : '';
    });

    $(".test-table-reload-btn .layui-input").bind('keydown', function (e) {
      if (e.keyCode == 13) {
        e.preventDefault();
        $(".test-table-reload-btn .layui-btn")[0].click();
      }
    });

    table.render({
      elem: '#test-table-toolbar',
      url: apiUri + '/api/SysUser/QueryDataByPage',
      method: 'post',
      contentType: 'application/json',
      title: '用户数据表',
      height: 'full-190',
      initSort: {
        field: 'id'
        , type: 'desc'
      },
      where: queryParam,
      cols: [[
        // { field: 'id', title: 'ID', width: 80, fixed: 'left', hide: true },
        {
          field: 'id', title: 'ID', width: 80, fixed: 'left', templet: function (v) {
            return "" + v.id;
          }
        },
        { field: 'true_name', title: '姓名', width: 120, sort: true },
        { field: 'nick_name', title: '昵称', width: 120, sort: true },
        { field: 'login_name', title: '登录名', width: 120, sort: true },
        { field: 'sex', title: '性别', width: 120, sort: true },
        //{ field: 'head_pic', title: '头像', width: 120, sort: true }, 
        { field: 'telephone', title: '电话', width: 120, sort: true },
        { field: 'mobile', title: '手机', width: 120, sort: true },
        { field: 'email', title: '邮箱', width: 120, sort: true },
        { field: 'summary', title: '描述', width: 120, sort: true },
        // { field: 'role_id', title: '角色id', width: 120, sort: true, hide: true },
        // { field: 'dept_id', title: '部门id', width: 120, sort: true, hide: true },
        { field: 'dname', title: '部门', width: 120, sort: true },
        { field: 'wx_id', title: '微信号', width: 120, sort: true },
        { field: 'wx_name', title: '微信昵称', width: 120, sort: true },
        { field: 'qq_id', title: 'QQ号', width: 120, sort: true },
        { field: 'qq_name', title: 'QQ昵称', width: 120, sort: true },
        // { field: 'sort', title: '排序', width: 120, sort: true },
        { fixed: 'right', title: '操作', toolbar: '#test-table-toolbar-barDemo', width: 115, align: 'center' }
      ]],
      page: true,
      limits: [10, 15, 20, 30, 40, 50],
      limit: 15
      // ,parseData: function (res) { //res 即为原始返回的数据
      //   return {
      //     "code": res.code, //解析接口状态
      //     "msg": res.msg, //解析提示文本
      //     "count": res.count, //解析数据长度
      //     "data": jsonlint.parse(res.data) //解析数据列表
      //   };
      // }
    });

    //监听行工具事件
    table.on('tool(test-table-toolbar)', function (obj) {
      var data = obj.data;
      data.id = data.id + "";
      debugger;
      if (obj.event === 'del') {
        layer.confirm('你确定要删除用户：' + data.true_name, function (index) {
          com.ajax(apiUri + '/api/SysUser/DeleteById?id=' + data.id, 'delete', true, { id: data.id }, function (res) {
            if (res.success === true && res.data > 1) {
              layer.msg('删除成功！', {
                icon: 1,
                time: 2000 //2秒关闭（如果不配置，默认是3秒）
              }, function () {
                active.reload();//重载表格
              });
            } else {
              layer.msg('删除失败！', {
                icon: 2,
                time: 2000 //2秒关闭（如果不配置，默认是3秒）
              });
            }
          });//ajax end
          layer.close(index);
        });
      } else if (obj.event === 'edit') {
        layer.prompt({
          formType: 2
          , value: data.email
        }, function (value, index) {
          obj.update({
            email: value
          });
          layer.close(index);
        });
      }
    });

    //监听排序事件
    table.on('sort(test-table-toolbar)', function (obj) { //注：tool是工具条事件名，test是table原始容器的属性 lay-filter="对应的值"
      queryParam.field = obj.field; //排序字段
      queryParam.order = obj.type; //排序方式
      active.reload(obj);
    });

  });
</script>